body {
  background-color: #fffffa;
}

h1 {
  text-align: center;
  font-family: 'Barrio', cursive;
}

button {
  width: 65px;
  border: none;
}

#comicImg {
  margin-top: 10px;
  border: 2px solid #292929;
  width: 100%;
  max-height: 675px;
}

#main {
  width: 95%;
  margin: 0 auto;
}

.googleApps {
  text-align: center;
}
